<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bytcode.tradetool.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".utils.config.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/TradeToolMaterialTheme">
        <activity android:name=".controllers.activities.CustomerListActivity">
        </activity>
        <activity android:name=".controllers.activities.CompetitorProductsActivity">
        </activity>
        <activity android:name=".controllers.activities.PmiMaterialsActivity">
        </activity>
        <activity android:name=".controllers.activities.RegisterPosActivity">
        </activity>
        <activity android:name=".controllers.activities.RegisterProductActivity">
        </activity>
        <activity android:name=".controllers.activities.StartVisitsActivity">
        </activity>
        <activity android:name=".controllers.activities.EndDayActivity">
        </activity>
        <activity android:name=".controllers.activities.StartDayActivity">
        </activity>
        <activity android:name=".controllers.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".controllers.activities.HomeActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/TradeToolMaterialTheme.NoActionBar">
        </activity>
        <activity android:name=".controllers.activities.LoginActivity"/>
    </application>

</manifest>